.DivClass {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  background: #0c131f;
  padding: 0;
}

.mte {
  color: rgba(202, 212, 255, 0.5);
  font-family: 'VT323', monospace;
  font-size: 25px;
  text-shadow: 0 0 5px rgba(202, 212, 255, 0.5), 0 0 15px rgba(202, 200, 255, 0.5);
  animation: ScreenEffect 0.00001s ease;
}

body {
  background: #0F0F0F;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 0.1rem;
}

a {
    text-decoration: none;
    color: rgba(202, 212, 255, 0.5);
    font-family: 'VT323', monospace;
    font-size: 20px;
    padding: 15px;
    text-shadow: 0 0 5px rgba(202, 212, 255, 0.5), 0 0 15px rgba(202, 200, 255, 0.5);
    transition: all 0.3s ease;
}

a:hover {
    text-decoration-line: underline;
}
